<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.user.base.infrastructure.mapper.AccountSystemMapper">
    <resultMap id="BaseResultMap" type="com.ww.user.base.api.entity.AccountSystemEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="app_code" jdbcType="INTEGER" property="appCode"/>
        <result column="business_unit_code" jdbcType="INTEGER" property="businessUnitCode"/>

        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `user_id`, `name`, `app_code`, `business_unit_code`,
        `create_at`, `modify_at`, `version`, `deleted`, `operator`
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ww_account_system
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
