<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.user.base.infrastructure.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.ww.user.base.api.entity.UserEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="phone_no" jdbcType="VARCHAR" property="phoneNo"/>
        <result column="e_mail" jdbcType="VARCHAR" property="eMail"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="source" jdbcType="INTEGER" property="source"/>
        <result column="mode" jdbcType="INTEGER" property="mode"/>

        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="operator" jdbcType="VARCHAR" property="operator"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`, `phone_no`, `e_mail`, `status`, `source`, `mode`,
        `create_at`, `modify_at`, `version`, `deleted`, `operator`
    </sql>

    <select id="selectVFById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vf_user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectById2" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ww_user
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>
